---

- name: Update package cache
  ansible.builtin.dnf:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "RedHat"

- name: Disable SELinux
  ansible.posix.selinux:
    state: permissive
  when: ansible_os_family == "RedHat"

- name: Install common packages
  ansible.builtin.dnf:
    name:
      - curl
      - wget
      - python3
      - python3-pip
  when: ansible_os_family == "RedHat"
